<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <System.ServiceModel>
    <Services>
      <Service name="HelloServiceVenkot.HelloService" behaviorConfiguration="mexBehaviors">
        <endpoint address="HelloService" binding="basicHttpBinding" Contract="HelloService.IHelloService"/>
        <endpoint address="HelloService" binding="netTcpBinding" Contract="HelloService.IHelloService"/>
        <endpoint address="mex" binding="mexHttpBinding" Contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </Service>
    </Services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviors"/>
        <serviceMetadata httpGetEnabled="true"/>
      </serviceBehaviors>
    </behaviors>
  </System.ServiceModel>
</configuration>